<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.sysmanage.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wy.sysmanage.entity.SysMenu">
        <id column="id" property="id" />
        <result column="menu_code" property="menuCode" />
        <result column="menu_name" property="menuName" />
        <result column="status" property="status" />
        <result column="parent_id" property="parentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_code, menu_name, status, parent_id
    </sql>

    <select id="selectMenuByRoleId" resultMap="BaseResultMap">
        select t1.* from sys_menu t1,sys_role_menu t2 where t1.id=t2.menu_id and t2.role_id=#{roleId}
    </select>

    <select id="selectMenuByUserId" resultMap="BaseResultMap">
        select t1.* from sys_menu t1,sys_role_menu t2,sys_user_role t3 where t1.id=t2.menu_id
        and t2.role_id=t3.role_id and t1.status=1 and t3.user_id=#{userId}
    </select>

</mapper>
