<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.sysmanage.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wy.sysmanage.entity.SysUser">
        <id column="id" property="id" />
        <result column="user_account" property="userAccount" />
        <result column="user_passwd" property="userPasswd" />
        <result column="user_name" property="userName" />
        <result column="mobile" property="mobile" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_account, user_passwd, user_name, mobile, update_time
    </sql>

</mapper>
